<main class="user-profile">
    <section class="profile-pic"><img src="<%= imageUrl %>" alt="profile-pic"></section>
    <section class="username"><%= username %></section>
    <% if (hasNewMessages) { %> 
    <section class="new-messages">!</section>
    <% } %> 
</main>