<main class="contact profile">
    <section class="img-holder"><img src="<%= user.imageUrl %>" alt="profile picture"></section>
    <section class="username"><p><%= user.username %> </p></section>
    <% if (hasNewMessages) { %> 
    <section class="new-messages">!</section>
    <% } %>
</main>